<footer class="footer_container">
    <div class="footer">
      <div class="left">
        <h1>Booots</h1>
        <ul>
        <a href="/"><li>Home</li></a>
        <a href="/store"><li>Store</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
        </ul>
        <ul class="social">
          <li><img src="https://cdn-icons-png.flaticon.com/128/2168/2168281.png" alt=""></li>
          <li><img src="https://cdn-icons-png.flaticon.com/128/1384/1384015.png" alt=""></li>
          <li><img src="https://cdn-icons-png.flaticon.com/128/5969/5969020.png" alt=""></li>
          <li><img src="https://cdn-icons-png.flaticon.com/128/4494/4494467.png" alt=""></li>
        </ul>
      </div>
      <div class="right">
        copyright &copy; 2024 @ Booots
      </div>
    </div>
  </footer>