<nav class="nav">
  <h1><a href="/">Booots</a></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/store">Store</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="buttons">
    <a href="/search">
  <button>
      <span class="material-symbols-outlined"> search </span>
  </button></a>
  <a href="/cart">
  <button class="second">
      <span class="material-symbols-outlined"> shopping_bag </span>
  </button></a>
  <a href="/login"><button class="login">Log in</button></a>
  </div>
</nav>