<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="icon" href="/images/favicon.ico.png" type="image/x-icon">


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/small-about.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/card.css" />

</head>
<body>
    <!-- Nav -->
    <%- include('./partials/nav') %>
    
    <!-- Header -->
    <div class="header_container">
      <div class="left">
        <h1>Where Every Step Shines</h1>
        <br>
        <p>Discover the latest in stylish and comfortable footwear. From casual sneakers to elegant heels, step up your shoe game with our curated collection designed to elevate every outfit.</p>
        
        <div class="buttons">
          <a href="/store"><button class="first">Open Store</button></a>
          <a href="/contact"><button>Contact Us</button></a>
        </div>
      </div>
      <div class="right">
        <h2>Why Choose Us</h2>
        <div class="cards">
          <div class="card">
            <div class="img">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/07/construction-icon-7-yellow.png" alt="">
            </div>
            <div class="text">
              <h3>Best Quality</h3>
              <p>We challenge the industry standards</p>
            </div>
          </div>
          
          <div class="card">
            <div class="img">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/07/construction-icon-5-yellow-1.png" alt="">
            </div>
            <div class="text">
              <h3>Fast Delivery</h3>
              <p>Delivered to your door in 1 hour</p>
            </div>
          </div>
          
          <div class="card">
            <div class="img">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/07/construction-icon-6-yellow.png" alt="">
            </div>
            <div class="text">
              <h3>Easy Returns</h3>
              <p>No questions asked refund policy</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About -->
    <div class="about">
      <div class="top">
        <h1>About Our Store</h1>
        <span></span>
      </div>
      <div class="bottom">
        <div class="left">
          Lectus erat, consectetur eu sapien eget rhoncus consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales tristique, augue mauris molestie augue, non feugiat ligula neque nec felis.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed nibh dignissim, cursus tellus sit amet, ultrices mauris. Aliquam blandit est in eros elementum, quis vehicula est suscipit.
        </div>
        <div class="right">
          Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat, consectetur eu sapien eget rhoncus consectetur sem.
          <br><br>
          Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales tristique, augue mauris molestie augue non feugiat ligula neque nec felis.
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="stats">

      <div class="card">
        <span>12+</span>
        <h3>Years of XP</h3>
      </div>

      <div class="card">
        <span>250K+</span>
        <h3>Products Sold</h3>
      </div>

      <div class="card">
        <span>1.4M+</span>
        <h3>Monthly Users</h3>
      </div>

    </div>


    <!-- Quote -->
    <div class="quote">
      <p>
        “Suspendisse neque erat, imperdiet ac non, sollicitudin accumsan lacus. Vestibulum ac ex rutrum, pellentesque purus et, lacinia mi. Nullam maximus lectus libero.”
      </p>
      <span>
        John Smith - Divi Corner
      </span>
    </div>

    <!-- Footer -->
    <footer class="footer_container">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>