*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav_background: #22202b;
}
html{
    scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}


::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #111;
}
::-webkit-scrollbar-thumb{
    background: cyan;
    border-radius: 10px;
}

.store_container::-webkit-scrollbar-thumb{
    background: cyan;
    border-radius: 0px;
}

.nav ul li:nth-child(2) a {
    color: rgb(226, 226, 226);
    font-weight: bold;
}

.header_container{
    padding: 90px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_container .img{
    width: 90vw;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.header_container .img img{
    width: 100%;
}
.header_container header{
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_container header span{
    font-weight: bold;
}
.header_container header h1{
    font-size: 4em;
    color: #1d1d1d;
    font-family: "Protest Strike", sans-serif;
    text-align: center;
}
.header_container header p{
    /* width: 70%; */
    font-size: large;
    font-family: 'poppins', sans-serif;
    color: #363636;
    text-align: center;
}
.header_container header button{
    width: 140px;
    padding: 10px 5px;
    font-size: medium;
    border: 1.5px solid #222;
    color: #222;
    outline: none;
    border-radius: 25px;
    background: transparent;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
.header_container header button:hover{
    background: #222;
    color: rgb(239, 239, 239);
    border: 1.5px solid #222;
}


.store_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    gap: 20px;
}

.store_container .buttons{
    align-self: flex-end;
    display: flex;
    gap: 15px;
}

.store_container .buttons button{
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid #111;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    cursor: pointer;
}

.store_container .buttons button:disabled{
    border: 1px solid #aaaaaa;
    color: #aaa !important;
}

.store_container .buttons button span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.store_container .scroll_container {
    width: 100%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background: #eee;
    margin-bottom: 100px;
    /* overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; */
}
.store_container .scroll_container .bottom{
    display: grid;
    grid-template-columns: repeat(10, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 40px;
    padding-bottom: 30px;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.store_container .scroll_container .bottom .card{
    scroll-snap-align: left;
}
/* .store_container .scroll_container .bottom:first-child{
    margin-left: 20px;
}
.store_container .scroll_container .bottom:last-child{
    margin-right: 20px;
} */